<!doctype html>
<html ng-app="NarrowItDownApp" lang="en">
  <head>
    <script src="angular.min.js"></script>
    <script src="app2.js"></script>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
  <!--  <ul>
      <li ng-repeat="category in nar.c">
        {{category[0].id}}
      </li>
    </ul>
-->
    <div class="form-group">
      <input type="text"ng-model="list.search" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="list.narrow(search);">Narrow It Down For Me!</button>

<!--   <ul>
      {{list.search}} hi
        <li ng-repeat="j in list.results">
{{j}}
</li>
</ul>
<ul>
        <li ng-repeat="category in list.founditems">
         {{category.name}}
        </li>
</ul>
    </div>
-->
    <!-- found-items should be implemented as a component -->
    <found-items found-items="list.founditems" on-remove="list.removeItem(index)"></found-items>
  </div>

</body>
</html>
