<div class="row">
  <h1>Hello! SignUP here </h1>
  <fieldset>


    <form name='regForm' ng-submit="signupCtrl.signup(regForm)" novalidate>
      Enter First Name: <input type="text" name="fname"
        ng-model="signupCtrl.user.fname"
        required
        minlength="3"
        ng-maxlength="10" style="background-color: #009688;">
        {{ signupCtrl.user.fname }}
        <span
          ng-if="(regForm.fname.$error.minlength || regForm.fname.$error.required) && regForm.fname.$touched">
          Firstname must be at least 3 characters long
        </span>
        <br>

        Enter Last Name: <input type="text" name="lname"
          ng-model="signupCtrl.user.lname"
          required
          minlength="3"
          ng-maxlength="10" style="background-color: #009688;">
          {{ signupCtrl.user.lname }}
          <span
            ng-if="(regForm.lname.$error.minlength || regForm.lname.$error.required) && regForm.lname.$touched">
            Lastname must be at least 3 characters long
          </span>
          <br>

      Enter Your Email Id: <input type="email" name="email" placeholder="Email"
        ng-model="signupCtrl.user.email"
        required style="background-color: #009688;">
        <span ng-if="regForm.email.$invalid && regForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>

      Enter Phone no: <input type="text" name="phone" placeholder="Phone ###-###-####"
        ng-model="signupCtrl.user.phone"
         style="background-color: #009688;">
        <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>

        Enter Favourite Dish: <input type="text" name="dish"
         ng-model="signupCtrl.user.dish" style="background-color: #009688;">
        <span ng-if="regForm.dish.$invalid && regForm.dish.$touched">
          Fill existed Dish.
        </span>
<div>
        <span ng-show="signupCtrl.showError">That dish doesn't exist.</span>
        </div>
        <input type="submit" class="btn btn-default" value="Signup"/>
        <span class="text-success" ng-show="signupCtrl.showMessage">You have signed up.</span>

  </form>
</fieldset>

</div>
